.search-label {
    color: #0277BD;
}

.tabs-search {
    border: 1px solid #FDC600;
    border-radius: 5px;
    margin-bottom: 15px;
}

.tabs-search .active,
.tabs-search li:hover {
    background-color: #0277BD;
}

.tabs-search .active a {
    color: #fff;
}

.tabs-search a {
    color: inherit;
}
.services p{
    padding-top: 0 !important;
}
.sales-btn {
    color: #0277BD !important;
    border-radius: 10px;
    font-weight: 600;
    border: none;
}

.sales-btn:hover {
    background-color: transparent;
    color: #8BC34A !important;
}